{
  border: 1px solid teal;
}       
body {
  background: blanchedalmond;
  margin: 0;
        font-family: sans-serif;
        text-align: center;
        background-color: white;
        color: black;

      }
.container {
  display-box: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
       
}
        .a, .b, .c{
          
        border:solid 1px black;
          
        }
@media (min-width: 600px), screen and (orientation: portrait) {
  .container {
    display:flex;
    flex-direction: column;
  }
  .a{
    min-width: 100%;
    min-height: 100%;
  }
}
@media (max-width:1400px){
  .container{
    
  }
}