{
  border: 1px solid teal;
}    
body {
  background: blanchedalmond;
  margin: 0;
        font-family: sans-serif;
        text-align: center;
        background-color: white;
        color: black;

      }
.container {
  display-box: flex;
        min-height: 50vh;
        
       
}
        .a, .b, .c{
          
        border:solid 1px black;
          
        }
@media (min-width: 600px), screen and (orientation: portrait){
 
  .container {
    display:flex;
    background:white;
    margin:50px;
    flex-direction:column;
  }
  
  .a{
    flex-direction:column;
  }

 */
  /* .b, .c{
    padding:100px;
    display:flex;
    flex-direction:row;
     */
  /* } */
.container{
    height:500px;
    border: solid 2px black; 
  }

  /* div {
    margin:10px;
    
    padding:20px;
    display:flex;
  } */

  .a{
    position:relative;
    border:5px solid red;
    padding:50px;
  }

.b{
  position:relative;
  margin:5px;
  /* top:40px; */
  border:5px solid green;
  height:35%;
  padding:30px;
  width:500px;
}
.c{
  position:relative;
  border:5px solid purple;
  width:200px;
  height:35%;
  padding:30px;
  left:580px;
  top:-90px;

}
}
@media (min-width:1400px){
  
}